language: node_js
cache:
    directories:
        - node_modules
node_js:
    - v10
    - v8
    - v6
install:
    - npm i
    - npm install -g codecov
script:
    - jest --testRegex=.*\\.test\\.js$ && codecov
notifications:
    slack: